* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

h1, h2, h3, p, a, li {
  font-family: 'Montserrat', sans-serif; }

h1 {
  font-size: 2.6rem !important;
  font-weight: normal; }

h2 {
  font-size: 1.8rem !important;
  font-weight: normal; }

h3 {
  font-size: 1.6rem !important;
  font-weight: normal; }

p {
  font-size: 1.2rem !important;
  font-weight: 300;
  text-align: justify; }

a {
  font-size: 1rem !important;
  font-weight: 300; }

#formulario a {
  color: black !important; }

li {
  text-align: justify;
  margin: 10px 0; }

.centrar-vertical {
  margin: auto 0; }

.container {
  position: relative; }

a {
  text-decoration: none;
  color: white !important;
  padding: 10px 10px;
  display: inline-block;
  border-radius: 50px;
  -moz-transition: all 0.35s ease-out;
  -o-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out; }
  a:hover {
    background: linear-gradient(45deg, rgba(0, 0, 0, 0) 0%, rgba(129, 111, 111, 0.69) 35%, rgba(0, 0, 0, 0) 65%, rgba(143, 123, 123, 0.694) 100%);
    box-shadow: 0px 0px 20px 10px rgba(129, 111, 111, 0.69);
    transform: scale(1.2);
    color: white  !important; }
    a:hover span {
      border-color: red; }

.gradient-box {
  border-radius: 10%;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0) 0%, rgba(129, 111, 111, 0.69) 35%, rgba(0, 0, 0, 0) 65%, rgba(143, 123, 123, 0.694) 100%);
  animation: color-gradient-animation 2s infinite;
  background-size: 400% 400%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); }
  .gradient-box:hover {
    background: linear-gradient(45deg, rgba(125, 231, 78, 0.779582) 0%, rgba(9, 244, 190, 0.75174) 25%, rgba(78, 231, 177, 0.779582) 50%, rgba(9, 147, 244, 0.75174) 100%);
    animation: color-gradient-animation 2s ease-out infinite;
    background-size: 400% 400%;
    background-repeat: repeat; }

.gradient-box--blog {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 1%;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0) 0%, rgba(129, 111, 111, 0.69) 35%, rgba(0, 0, 0, 0) 65%, rgba(143, 123, 123, 0.694) 100%);
  animation: color-gradient-animation 2s infinite;
  background-size: 400% 400%; }
  .gradient-box--blog:hover {
    background: linear-gradient(45deg, rgba(125, 231, 78, 0.779582) 0%, rgba(9, 244, 190, 0.75174) 25%, rgba(78, 231, 177, 0.779582) 50%, rgba(9, 147, 244, 0.75174) 100%);
    animation: color-gradient-animation 2s ease-out infinite;
    background-size: 400% 400%;
    background-repeat: repeat; }

@keyframes color-gradient-animation {
  0% {
    background-position: 0 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0 50%; } }

@keyframes texto-palpitante {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.05); }
  100% {
    transform: scale(1); } }

.contenedor-cards {
  height: 40vh;
  width: 100%;
  position: relative;
  perspective: 500pxpx;
  margin: 30px 0; }
  .contenedor-cards__front, .contenedor-cards__back {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    backface-visibility: hidden; }
  .contenedor-cards__front {
    display: flex;
    flex-direction: column; }
    .contenedor-cards__front__img {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 70%;
      padding-top: 20px; }
      .contenedor-cards__front__img img {
        height: 100%; }
    .contenedor-cards__front__heading {
      padding: 30px 0;
      width: 100%;
      height: 30%; }
  .contenedor-cards__back {
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    width: 90%; }
  .contenedor-cards:hover .contenedor-cards__front {
    transform: rotateY(180deg); }
  .contenedor-cards:hover .contenedor-cards__back {
    transform: rotateY(360deg); }

.btn-dark {
  --bs-btn-color: #fff !important;
  --bs-btn-bg: black !important;
  --bs-btn-border-color: black !important;
  --bs-btn-hover-color: #fff !important;
  --bs-btn-hover-bg: white !important;
  --bs-btn-hover-border-color: white !important;
  --bs-btn-focus-shadow-rgb: 66,70,73 !important;
  --bs-btn-active-color: #fff !important;
  --bs-btn-active-bg: white !important;
  --bs-btn-active-border-color: white !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: black !important;
  --bs-btn-disabled-bg: black !important;
  --bs-btn-disabled-border-color: black !important; }

.bg-black {
  box-shadow: 0px 5px 30px 20px rgba(0, 0, 0, 0.8) !important; }

.padding-footer {
  padding: 0 50%; }

footer {
  min-height: 15vh; }
  footer div p {
    color: white; }
  footer a:hover {
    background: linear-gradient(45deg, rgba(0, 0, 0, 0) 0%, rgba(129, 111, 111, 0.69) 35%, rgba(0, 0, 0, 0) 65%, rgba(143, 123, 123, 0.694) 100%); }

header h1 span
main span {
  border-bottom: 4px solid white; }

.navbar-toggler {
  background-color: white !important; }

.padding-navbar {
  padding: 15px 0; }

.navbar ul {
  margin-left: 20% !important; }

header {
  min-height: 15vh; }
  header h1 span {
    font-family: 'Tektur', cursive;
    font-weight: 600;
    font-style: normal;
    font-size: 3rem; }
  header a {
    white-space: normal !important; }

main {
  background: #020024;
  background: radial-gradient(circle, #020024 0%, rgba(44, 64, 63, 0.206497) 0%, rgba(44, 69, 67, 0.816705) 100%); }
  main span {
    font-weight: 600;
    font-style: normal;
    font-size: 3rem; }

.divisor-contenido {
  min-height: 15vh;
  height: auto;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .divisor-contenido div {
    display: flex;
    justify-content: center;
    animation: texto-palpitante 3s infinite ease-in-out; }
    .divisor-contenido div p {
      font-size: 2.6rem !important; }

#altura_main_planes {
  height: auto;
  min-height: 70.85vh;
  padding-top: 2vh !important; }

.contenedor-planes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
  padding-bottom: 2rem; }
  .contenedor-planes #boton-plan-basico, .contenedor-planes #boton-plan-medio {
    padding: 75px 0 0 0; }
  .contenedor-planes #boton-plan-full {
    padding: 25px 0 20px 0; }

#main-contacto {
  padding-bottom: 10px;
  background-image: url("../assets/img/imagen-contacto.webp");
  height: 80vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  #main-contacto .container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }

#centrar-fieldset {
  margin-top: 160px; }

#formulario {
  width: 80%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 2.5%;
  padding: 20px 20px;
  color: white;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
  height: 100%; }
  #formulario input, #formulario textarea {
    background: linear-gradient(45deg, rgba(0, 0, 0, 0) 0%, rgba(129, 111, 111, 0.69) 35%, rgba(0, 0, 0, 0) 65%, rgba(143, 123, 123, 0.694) 100%);
    color: white; }
  #formulario .btn-light {
    background-color: none !important;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0) 0%, rgba(129, 111, 111, 0.69) 35%, rgba(0, 0, 0, 0) 65%, rgba(143, 123, 123, 0.694) 100%);
    color: white !important; }
  #formulario fieldset {
    border: 1px solid white;
    padding: 10px;
    border-radius: 2%; }

@media (max-width: 1400px) {
  #altura_main_planes {
    height: auto;
    padding-bottom: 5vh !important; }
  .contenedor-planes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    width: 50%;
    margin: 0 auto; } }
  @media (max-width: 1400px) and (max-width: 991px) {
    .contenedor-planes {
      width: 85%; } }

@media (max-width: 1400px) {
    .contenedor-planes #boton-plan-basico, .contenedor-planes #boton-plan-medio {
      padding: 25px 0 20px 0; }
    .contenedor-planes .gradient-box {
      border-radius: 5%; }
      .contenedor-planes .gradient-box ul {
        display: inline-block;
        padding: 0 25%; } }

@media (max-width: 1200px) {
  .navbar ul {
    margin-left: 0 !important; } }

@media (max-width: 991px) {
  #main-contacto {
    height: 140vh; }
  .container {
    width: 90%; }
  .contenedor-cards {
    min-height: 50vh; }
    .contenedor-cards__front__img {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
    .contenedor-cards img {
      max-width: 90% !important;
      height: 50%; }
  #formulario {
    width: 100%; }
  .divisor-contenido {
    height: auto; }
  #gap-fieldset {
    padding-top: 20px; }
  .navbar-grid {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "blog sobre_mi" "planes contacto";
    padding: 30px 0 0 0 !important; }
    .navbar-grid li:nth-of-type(1) {
      grid-area: blog;
      text-align: end;
      padding-right: 12.5%; }
    .navbar-grid li:nth-of-type(2) {
      grid-area: sobre_mi;
      text-align: start;
      padding-left: 12.5%; }
    .navbar-grid li:nth-of-type(3) {
      grid-area: planes;
      text-align: end;
      padding-right: 12.5%; }
    .navbar-grid li:nth-of-type(4) {
      grid-area: contacto;
      text-align: start;
      padding-left: 12.5%; }
  header {
    height: auto; }
    header nav .container {
      min-height: 20vh; }
      header nav .container button {
        margin-top: 50px; }
  nav div ul {
    height: 75% !important; }
  .padding-imagen {
    padding: 30px 0; }
  li a {
    display: inline-block; }
  .borde_abajo {
    border-right: none !important;
    border-bottom: 1px solid black !important;
    padding: 20px 0; }
  .padding-planes {
    padding: 20px 0; } }

@media (max-width: 630px) {
  #formulario {
    margin-top: 0; }
  .contenedor-cards {
    height: 75vh; }
  .contenedor-planes {
    width: 95%; }
    .contenedor-planes ul {
      padding: 0 !important;
      list-style: none; } }

@media (max-width: 400px) {
  .contenedor-cards {
    height: 90vh; } }

@media (max-height: 900px) {
  #main-contacto {
    height: 150vh; } }

@media (max-height: 750px) {
  .gradient-box--blog {
    height: 80vh; }
  #main-contacto {
    height: 220vh; } }

@media (max-height: 460px) {
  #main-contacto {
    height: 270vh; } }
