.centrar-vertical {
    margin:auto 0;
}

.container {
    position: relative;
}

a {
    text-decoration: none ;
    color: white !important;
    padding: 10px 10px;
    display:inline-block;
    border-radius: 10px;
    -moz-transition: all 0.35s ease-out;
    -o-transition: all 0.35s ease-out;
    transition: all 0.35s ease-out;
    
    &:hover {
        background-color: rgba(129, 111, 111, 0.69);
        box-shadow: 0px 0px 10px rgba(129, 111, 111, 0.69);
        transform: scale(1.1);
        color: black  !important;
        
    }
}

.gradient-box {
    border-radius: 10%;
    background: linear-gradient(45deg, rgba(0,0,0,0) 0%, rgba(129, 111, 111, 0.69) 35%, rgba(0,0,0,0) 65%, rgba(143, 123, 123, 0.694) 100%);
    animation: color-gradient-animation 2s infinite;
    background-size: 400% 400%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    &:hover {
        background: linear-gradient(45deg, rgba(125,231,78,0.7795823665893271) 0%, rgba(9,244,190,0.7517401392111369) 25%, rgba(78,231,177,0.7795823665893271) 50%, rgba(9,147,244,0.7517401392111369) 100%);
        animation: color-gradient-animation 2s ease-out infinite;
        background-size: 400% 400%;
        background-repeat: repeat;
    }

  }

  .gradient-box--blog {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 1%;
    background: linear-gradient(45deg, rgba(0,0,0,0) 0%, rgba(129, 111, 111, 0.69) 35%, rgba(0,0,0,0) 65%, rgba(143, 123, 123, 0.694) 100%);
    animation: color-gradient-animation 2s infinite;
    background-size: 400% 400%;
    &:hover {
        background: linear-gradient(45deg, rgba(125,231,78,0.7795823665893271) 0%, rgba(9,244,190,0.7517401392111369) 25%, rgba(78,231,177,0.7795823665893271) 50%, rgba(9,147,244,0.7517401392111369) 100%);
        animation: color-gradient-animation 2s ease-out infinite;
        background-size: 400% 400%;
        background-repeat: repeat;
    }

  }

@keyframes color-gradient-animation {
    0%{background-position: 0 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0 50%;}
}

@keyframes texto-palpitante {
    0%{transform: scale(1)}
    50%{transform: scale(1.05);}
    100%{transform: scale(1);}    
}

.contenedor-cards {
    height: 40vh;
    width: 100%;
    position: relative;
    margin: 30px 0;

    &__front, &__back {
        position: absolute;
        width: 100%;
        height: 100%;
        transition: transform 0.5s;
        backface-visibility: hidden;      
    }

    &__front {
        display: flex;
        flex-direction: column;
        &__img {
            display: flex;
            justify-content: center;
            width: 100%;
            height: 70%;
            padding-top: 20px;
            img {
                height: auto;
            }
        }
        &__heading {
            padding: 30px 0;
            width: 100%;
            height: 30%;
        }

    }

    &__back {
        transform: rotateY(180deg);
        display: flex;
        align-items: center;
        width: 90%;
    }

    &:hover &__front {
        transform: rotateY(180deg);
    }

    &:hover &__back {
        transform: rotateY(360deg);
    }
}

