header h1 span, main span {
    font-weight: 600;
    font-style: normal;
    font-size: 3rem;
}

main span {
    border-bottom: 4px solid white ;
}

header h1 span {
    font-family: 'Tektur', cursive;
}

header a {
    white-space: normal !important;
}

.navbar-toggler {
    background-color: white !important;
}

.padding-navbar {
    padding: 15px 0;
}

.navbar ul {
    margin-left: 20% !important;
}

header {
    min-height: 15vh;
}

