header h1 span, main span {
    font-weight: 700;
    font-style: normal;
    border-bottom: 4px solid white ;
}

.navbar-toggler {
    background-color: white !important;
}

.padding-navbar {
    padding: 15px 0;
}

.navbar ul {
    margin-left: 30% !important;
}

