#main-contacto {
    padding-bottom: 10px;
    background-image: url('../assets/img/tarjeta_contacto.webp');
    height: 80vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .container {
        height: 100%;  
        display: flex;
        justify-content: center;
        align-items: center;        
    }
}

#centrar-formulario {
    width: 100%;
}

#centrar-fieldset {
    margin-top: 160px;
}

#formulario {
    width: 80%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 2.5%;
    padding: 20px 20px;
    color: white;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
    height: 100%;

    input, textarea{
        background:linear-gradient(45deg, rgba(0,0,0,0) 0%, rgba(129, 111, 111, 0.69) 35%, rgba(0,0,0,0) 65%, rgba(143, 123, 123, 0.694) 100%);
        color: white;
    }

    .btn-light {
        background-color: none !important;
        background: linear-gradient(45deg, rgba(0,0,0,0) 0%, rgba(129, 111, 111, 0.69) 35%, rgba(0,0,0,0) 65%, rgba(143, 123, 123, 0.694) 100%);
        color: white !important;
    }

    fieldset {
        border: 1px solid white;
        padding:10px;
        border-radius: 2%;
    }

}