#imagenEdificios {
    background-image: url("../assets/img/edificios.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
}

#imagenFilosofia {
    background-image: url("../assets/img/filosofia_empresa.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
}
